name: Test python package

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10']
      fail-fast: false

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flit
          flit install --deps develop --symlink
      - name: Flake8, Black, Isort and MyPy
        run: |
          flake8 .
      - name: Lint
        run: |
          black . --check
          isort -c .
      - name: MyPy
        run: |
          mypy -p oauth2_lib
      - name: License headers
        run: |
          apache-license-check --copyright "2019-`date +%Y` SURF" oauth2_lib
      - name: Test with pytest
        run: |
          pytest -vvv --cov-branch --cov-fail-under=61 --cov=oauth2_lib --cov-config=.coveragerc --junitxml=report-pytest-${{ matrix.python-version }}.xml
      - name: Upload pytest test results
        uses: actions/upload-artifact@v2
        with:
          name: pytest-results-${{ matrix.python-version }}
          path: report-pytest-${{ matrix.python-version }}.xml
        # Use always() to always run this step to publish test results when there are test failures
        if: ${{ always() }}
